

- var onclick = 'javascript:window.open("' + oauthUrl + '", "oauth", "width=700, height=400, top=200, left=600, menubar=no, toolbar=no, scrollbars=yes");'



.toolbar
  .logo
    a(href='#')= title
  .buttons
    a(href='#') @stakamur
    a#login-link(style='display:none', href='javascript:void(0)', onclick=onclick) Log in
    a#login-link-twitter(href='#') twitter-login
  .message
    span ああああああああああ
    span ああああああああああ
    span ああああああああああ
    span ああああああああああ
    span ああああああああああ



// #wait-sec-message
//   | Wait for a sec...
//   img.loading(src='/images/spacer.gif',width='16',height='16')


#post-form(style='display:none')
  form#post(action='javascript:void(0)', method='POST')
    label(for='content') * しりとり、どうぞ
    input(type='text', name='content')
    input(type='submit', name='GO!')
    img#indicator(src='/images/spacer.gif',width='16',height='16')

.word-list 
  
