h1= title
p Welcome to #{title}



- var onclick = 'javascript:window.open("' + oathUrl + '", "oauth", "width=700, height=400, top=200, left=600, menubar=no, toolbar=no, scrollbars=yes");'

div#login-link
  a(href='javascript:void(0)', onclick=onclick) to post, please login with google.

div#post-form(style='display:none')
  form#post(action='javascript:void(0)', method='POST')
    label(for='content') * しりとり、どうぞ
    input(type='text', name='content')
    input(type='submit', name='GO!')
    img#indicator(src='/images/spacer.gif',width='16',height='16')

div#word-list
  table
  
div#msg-box(style='display:none',title="close this message")
  | whoo..
