!!!
html
  head
    title= title
    meta(name="viewport", content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/mobile.css', media="only screen and (max-width: 800px)")

    // script(src='https://www.google.com/jsapi?key=!{}')
    // script

    //   var googleImageSearch_;
    //   google.load("search", "1");
    //   google.setOnLoadCallback(function () {
    //     console.log(google.search);
    //     googleImageSearch_ = google.search
    //   });


    script(src="https://www.google.com/jsapi?" + googleLoaderParam)
    script(src='/javascripts/libs/head.load.min.js')
    script
      // Loading scripts by head.js.
      var clientjs = !{isProduction} ? '/javascripts/client.min.js' : '/javascripts/client.js';
      head.js(
        '/socket.io/socket.io.js'
      , '/javascripts/libs/underscore-min.js'
      , '/javascripts/libs/jquery-1.7.min.js'
      , clientjs, function () {
        var googleLoaderCallback = function () {
          console.log('search?', google.search);
        };
      });

      // Just for watching google module loading.
      // Loading autoload script must be after this code.
      // var myGoogleLoader = {
      //   isLoaded: false,
      //   loaded: function () {
      //     this.isLoaded = true;
      //     console.log('search?', google.search, this.isLoaded);
      //   }
      // };
      // Am I want this..?

      // For developing setting.
      window.noAuthForDev = !{noAuthForDev}

    - if (isProduction)
      include google-analytics


  - if (noAuthForDev)
    | noAuthForDev..
  body.not-logged-in!= body
